In [26]:
import pandas as pd
file = r'fd.csv'
dataset = pd.read_csv(file, sep=',', encoding='cp1252')
dataset

,Area Code,Area,Item Code,Item,Element Code,Element,Unit,Y2014,Y2015,Y2016,Y2017,Y2018
0,4,Algeria,2501,Population,511,Total Population - Both sexes,1000 persons,38924.00,39728.00,40551.00,41389.00,42228.00
1,4,Algeria,2501,Population,5301,Domestic supply quantity,1000 tonnes,0.00,0.00,0.00,0.00,0.00
2,4,Algeria,2901,Grand Total,664,Food supply (kcal/capita/day),kcal/capita/day,3377.00,3379.00,3372.00,3341.00,3322.00
3,4,Algeria,2901,Grand Total,674,Protein supply quantity (g/capita/day),g/capita/day,94.90,94.35,94.72,92.82,91.83
4,4,Algeria,2901,Grand Total,684,Fat supply quantity (g/capita/day),g/capita/day,80.06,79.36,77.40,80.19,77.28

In [27]:
dataset.describe()

,Area Code,Item Code,Element Code,Y2014,Y2015,Y2016,Y2017,Y2018
count,60943.000000,60943.000000,60943.000000,59354.000000,59395.000000,59408.000000,59437.000000,59507.000000
mean,134.265576,2687.176706,3814.856456,134.196282,135.235966,136.555222,140.917765,143.758381
std,72.605709,146.055739,2212.007033,1567.663696,1603.403984,1640.007194,1671.862359,1710.782658
min,4.000000,2501.000000,511.000000,-1796.000000,-3161.000000,-3225.000000,-1582.000000,-3396.000000
25%,74.000000,2562.000000,684.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,136.000000,2630.000000,5142.000000,0.090000,0.080000,0.080000,0.100000,0.070000
75%,195.000000,2775.000000,5511.000000,8.340000,8.460000,8.430000,9.000000,9.000000
max,276.000000,2961.000000,5911.000000,176405.000000,181137.000000,185960.000000,190873.000000,195875.000000

In [18]:
with open("fd.csv") as f:
    print(f.encoding)

cp1252

In [28]:
dataset.isnull().sum()

Area Code          0
Area               0
Item Code          0
Item               0
Element Code       0
Element            0
Unit               0
Y2014           1589
Y2015           1548
Y2016           1535
Y2017           1506
Y2018           1436
dtype: int64

In [29]:
dataset

,Area Code,Area,Item Code,Item,Element Code,Element,Unit,Y2014,Y2015,Y2016,Y2017,Y2018
0,4,Algeria,2501,Population,511,Total Population - Both sexes,1000 persons,38924.00,39728.00,40551.00,41389.00,42228.00
1,4,Algeria,2501,Population,5301,Domestic supply quantity,1000 tonnes,0.00,0.00,0.00,0.00,0.00
2,4,Algeria,2901,Grand Total,664,Food supply (kcal/capita/day),kcal/capita/day,3377.00,3379.00,3372.00,3341.00,3322.00
3,4,Algeria,2901,Grand Total,674,Protein supply quantity (g/capita/day),g/capita/day,94.90,94.35,94.72,92.82,91.83
4,4,Algeria,2901,Grand Total,684,Fat supply quantity (g/capita/day),g/capita/day,80.06,79.36,77.40,80.19,77.28
...,...,...,...,...,...,...,...,...,...,...,...,...
60938,181,Zimbabwe,2899,Miscellaneous,5142,Food,1000 tonnes,42.00,46.00,33.00,19.00,16.00
60939,181,Zimbabwe,2899,Miscellaneous,645,Food supply quantity (kg/capita/yr),kg,3.06,3.33,2.35,1.33,1.08
60940,181,Zimbabwe,2899,Miscellaneous,664,Food supply (kcal/capita/day),kcal/capita/day,3.00,4.00,3.00,1.00,1.00
60941,181,Zimbabwe,2899,Miscellaneous,674,Protein supply quantity (g/capita/day),g/capita/day,0.10,0.11,0.08,0.04,0.04
60942,181,Zimbabwe,2899,Miscellaneous,684,Fat supply quantity (g/capita/day),g/capita/day,0.04,0.05,0.03,0.02,0.01

In [50]:
dataset.groupby('Element').sum()

,Area Code,Item Code,Element Code,Y2014,Y2015,Y2016,Y2017,Y2018
Element,,,,,,,,
Domestic supply quantity,708993,14197445,28068795,1996716.35,2021493.55,2044842.70,2088198.10,2161192.10
Export Quantity,599910,11840553,26026133,150020.64,157614.47,151920.46,182338.80,181594.80
Fat supply quantity (g/capita/day),675050,13535000,3435732,10225.56,10235.74,10102.77,10253.84,10258.69
Feed,176272,3538507,7282199,216927.89,225050.22,228958.65,223705.68,233489.68
Food,663295,13285035,25406622,1212332.49,1232361.10,1247022.17,1258888.28,1303841.28
Food supply (kcal/capita/day),674057,13511060,3329296,454257.00,453383.00,451810.00,454681.00,455261.00
Food supply quantity (kg/capita/yr),658446,13185401,3163725,49650.63,49345.13,48985.28,48690.04,49056.85
Import Quantity,688174,13795966,28834929,274144.48,267018.46,286582.78,294559.09,287997.09
Losses,274353,5424803,10292107,153223.00,155439.00,157787.00,160614.00,163902.00
Other uses (non-food),235554,4729749,8926728,78718.13,66254.41,69563.68,91645.97,91300.97
Processing,271940,5350416,10313310,282923.00,287929.00,280631.00,292836.00,308429.00
Production,526751,10450053,21388191,1931287.75,1947019.39,1943537.15,2030056.89,2075072.89
Protein supply quantity (g/capita/day),675050,13535000,3385502,11836.46,11833.95,11779.69,11842.45,11833.56
Residuals,623271,12421089,24066350,30149.00,30045.00,37224.00,35500.00,34864.00
Seed,103537,2035933,4211574,21922.92,23976.82,23389.20,24870.14,25263.14
Stock Variation,571566,11329527,21464704,58749.83,34910.99,33140.12,54316.91,20577.91
Total Population - Both sexes,6020,112545,22995,1031585.00,1058081.00,1085107.00,1112641.00,1140605.00
Tourist consumption,50308,1486528,2869905,416.00,349.00,89.00,91.00,90.00

In [40]:
df_1 = dataset[ (dataset['Item'] == 'Animal fats') ]
df_1

,Area Code,Area,Item Code,Item,Element Code,Element,Unit,Y2014,Y2015,Y2016,Y2017,Y2018
1057,4,Algeria,2946,Animal fats,5511,Production,1000 tonnes,18.00,17.00,17.00,17.00,16.00
1058,4,Algeria,2946,Animal fats,5611,Import Quantity,1000 tonnes,48.00,33.00,25.00,14.00,18.00
1059,4,Algeria,2946,Animal fats,5072,Stock Variation,1000 tonnes,0.00,0.00,0.00,0.00,0.00
1060,4,Algeria,2946,Animal fats,5911,Export Quantity,1000 tonnes,NaN,0.00,0.00,0.00,0.00
1061,4,Algeria,2946,Animal fats,5301,Domestic supply quantity,1000 tonnes,65.00,50.00,42.00,30.00,34.00
...,...,...,...,...,...,...,...,...,...,...,...,...
60697,181,Zimbabwe,2946,Animal fats,5142,Food,1000 tonnes,9.00,40.00,91.00,36.00,36.00
60698,181,Zimbabwe,2946,Animal fats,645,Food supply quantity (kg/capita/yr),kg,0.69,2.88,6.51,2.51,2.49
60699,181,Zimbabwe,2946,Animal fats,664,Food supply (kcal/capita/day),kcal/capita/day,21.00,18.00,18.00,20.00,19.00
60700,181,Zimbabwe,2946,Animal fats,674,Protein supply quantity (g/capita/day),g/capita/day,0.04,0.04,0.04,0.03,0.03
60701,181,Zimbabwe,2946,Animal fats,684,Fat supply quantity (g/capita/day),g/capita/day,2.33,2.03,2.01,2.18,2.10

In [45]:
dataset.groupby(['Item','Y2014','Y2017']).sum()

                                     Area Code  Item Code  Element Code  \
Item              Y2014    Y2017
Alcohol, Non-Food -1.0     -1.0            390       5318         10471
                            0.0            143       2659          5072
                   0.0     -23.0           202       2659          5170
                           -4.0            133       2659          5170
                            0.0          17603     369601        734680
...                                        ...        ...           ...
Yams               7342.0   7841.0          81       2535          5301
                   16697.0  17476.0        159       2535          5170
                   20000.0  23000.0        159       2535          5142
                   44151.0  49083.0        159       2535          5301
                   45152.0  54083.0        159       2535          5511

                                       Y2015    Y2016    Y2018
Item              Y2014    Y2017
Alcohol, Non-Food -1.0     -1.0         -2.0      0.0     -2.0
                            0.0          0.0      0.0      0.0
                   0.0     -23.0         0.0     -9.0     -5.0
                           -4.0          0.0      0.0      0.0
                            0.0          0.0     -7.0     83.0
...                                      ...      ...      ...
Yams               7342.0   7841.0    7271.0   7420.0   7841.0
                   16697.0  17476.0  16136.0  18077.0  17323.0
                   20000.0  23000.0  21000.0  22000.0  23500.0
                   44151.0  49083.0  44678.0  48361.0  49000.0
                   45152.0  54083.0  45678.0  51363.0  50000.0

[25991 rows x 6 columns]

In [49]:
Total = df_1['Y2014'].sum()
Total2 = df_1['Y2017'].sum()

print(Total)
print(Total2)

209460.54
269617.53

In [55]:
dataset.groupby('Element')['Y2018'].sum()

Element
Domestic supply quantity                  2161192.10
Export Quantity                            181594.80
Fat supply quantity (g/capita/day)          10258.69
Feed                                       233489.68
Food                                      1303841.28
Food supply (kcal/capita/day)              455261.00
Food supply quantity (kg/capita/yr)         49056.85
Import Quantity                            287997.09
Losses                                     163902.00
Other uses (non-food)                       91300.97
Processing                                 308429.00
Production                                2075072.89
Protein supply quantity (g/capita/day)      11833.56
Residuals                                   34864.00
Seed                                        25263.14
Stock Variation                             20577.91
Total Population - Both sexes             1140605.00
Tourist consumption                            90.00
Name: Y2018, dtype: float64

In [56]:
df_2 = dataset[ (dataset['Area'] == 'Algeria') ]
df_2.groupby('Element')['Y2018'].sum()

Element
Domestic supply quantity                  90023.42
Export Quantity                             811.54
Fat supply quantity (g/capita/day)          309.09
Feed                                      10668.00
Food                                      63736.33
Food supply (kcal/capita/day)             13288.00
Food supply quantity (kg/capita/yr)        1509.28
Import Quantity                           36238.29
Losses                                     7708.00
Other uses (non-food)                      3970.08
Processing                                 2479.00
Production                                60766.67
Protein supply quantity (g/capita/day)      367.28
Residuals                                   630.00
Seed                                        825.00
Stock Variation                            6172.00
Total Population - Both sexes             42228.00
Name: Y2018, dtype: float64

In [59]:
dataset.groupby('Area').count()

,Area Code,Item Code,Item,Element Code,Element,Unit,Y2014,Y2015,Y2016,Y2017,Y2018
Area,,,,,,,,,,,
Algeria,1313,1313,1313,1313,1313,1313,1261,1268,1274,1279,1298
Angola,1424,1424,1424,1424,1424,1424,1378,1378,1388,1407,1396
Benin,1285,1285,1285,1285,1285,1285,1250,1260,1257,1253,1252
Botswana,1378,1378,1378,1378,1378,1378,1361,1369,1365,1368,1361
Burkina Faso,1409,1409,1409,1409,1409,1409,1382,1372,1392,1383,1373
Cabo Verde,1260,1260,1260,1260,1260,1260,1231,1229,1200,1193,1192
Cameroon,1460,1460,1460,1460,1460,1460,1450,1443,1443,1441,1432
Central African Republic,1344,1344,1344,1344,1344,1344,1300,1296,1314,1262,1308
Chad,1343,1343,1343,1343,1343,1343,1284,1303,1265,1281,1305
Comoros,45,45,45,45,45,45,45,45,45,45,45
Congo,1413,1413,1413,1413,1413,1413,1382,1377,1377,1395,1377
Côte d'Ivoire,1467,1467,1467,1467,1467,1467,1444,1447,1455,1454,1455
Djibouti,1095,1095,1095,1095,1095,1095,1052,1058,1054,1061,1040
Egypt,1488,1488,1488,1488,1488,1488,1461,1473,1470,1458,1468
Eswatini,1284,1284,1284,1284,1284,1284,1265,1240,1255,1251,1231
Ethiopia,1447,1447,1447,1447,1447,1447,1424,1430,1410,1428,1425
Ethiopia PDR,39,39,39,39,39,39,39,39,39,39,39
Gabon,1245,1245,1245,1245,1245,1245,1200,1202,1198,1206,1192
Gambia,1168,1168,1168,1168,1168,1168,1121,1115,1111,1116,1118
Ghana,1354,1354,1354,1354,1354,1354,1337,1333,1330,1333,1337
Guinea,1410,1410,1410,1410,1410,1410,1345,1349,1373,1383,1385
Guinea-Bissau,1128,1128,1128,1128,1128,1128,1044,1040,1054,1076,1091
Kenya,1560,1560,1560,1560,1560,1560,1544,1542,1540,1548,1548
Lesotho,1150,1150,1150,1150,1150,1150,1130,1097,1116,1110,1094
Liberia,1206,1206,1206,1206,1206,1206,1135,1134,1124,1135,1133
Madagascar,1439,1439,1439,1439,1439,1439,1416,1429,1431,1425,1424
Malawi,1447,1447,1447,1447,1447,1447,1416,1400,1394,1411,1410
Mali,1293,1293,1293,1293,1293,1293,1252,1256,1250,1243,1260
Mauritania,1195,1195,1195,1195,1195,1195,1106,1152,1119,1108,1170
Mauritius,1378,1378,1378,1378,1378,1378,1355,1352,1344,1340,1342
Morocco,1393,1393,1393,1393,1393,1393,1354,1381,1378,1369,1368
Mozambique,1427,1427,1427,1427,1427,1427,1396,1394,1401,1406,1400
Namibia,1283,1283,1283,1283,1283,1283,1274,1270,1266,1269,1256
Niger,1403,1403,1403,1403,1403,1403,1357,1367,1355,1365,1368
Nigeria,1474,1474,1474,1474,1474,1474,1470,1458,1460,1457,1456
Rwanda,1426,1426,1426,1426,1426,1426,1400,1378,1400,1397,1403
Sao Tome and Principe,1177,1177,1177,1177,1177,1177,1108,1125,1140,1122,1109
Senegal,1462,1462,1462,1462,1462,1462,1448,1449,1452,1452,1448
Seychelles,68,68,68,68,68,68,68,68,68,68,68
Sierra Leone,1242,1242,1242,1242,1242,1242,1177,1181,1188,1191,1197
South Africa,1399,1399,1399,1399,1399,1399,1394,1395,1395,1395,1396
Sudan,1316,1316,1316,1316,1316,1316,1277,1260,1271,1279,1268
Sudan (former),53,53,53,53,53,53,53,53,53,53,53
Togo,1294,1294,1294,1294,1294,1294,1219,1226,1243,1234,1266
Tunisia,1338,1338,1338,1338,1338,1338,1304,1318,1314,1314,1320
Uganda,1458,1458,1458,1458,1458,1458,1446,1446,1446,1435,1445
United Republic of Tanzania,1419,1419,1419,1419,1419,1419,1401,1405,1403,1409,1408
Zambia,1451,1451,1451,1451,1451,1451,1424,1420,1430,1425,1421
Zimbabwe,1393,1393,1393,1393,1393,1393,1374,1373,1358,1365,1356

In [62]:
dataset['Area'].nunique()

49